<!-- mat-elevation-z4 é elevação 4 em relação ao eixo Z ( da a impressão que está
     saindo da tela ) -->
<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a href="">
            <img class="logo" 
                 src="https://s3.amazonaws.com/thinkific-import-development/220759/logo-200506-094136.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                <!--dashboard--> 
                home
            </i>
            Aplicação CRUD
        </a>
    </span>
</mat-toolbar>
